* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
    font-family: GT-Pressura-Mono;
    src: url(GT-Pressura-Mono-Regular-Trial.otf) format(opentype);
}

body {
    font-family: GT-Pressura-Mono;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

h1 {
    font-family: GT-Pressura-Mono;
    font-size: 2rem;
    font-weight: normal;
    color: white;
}

p a {
    text-decoration: none;
    color: greenyellow;
}

p a:hover {
    color: aqua;
}

.text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}