/* style.css */
@font-face {
    font-family: "Denim";
    src: url(Denim-Regular.ttf) format('truetype');
}

h1 {
    font-family: 'Denim';
    font-size: 130pt;
    font-weight: normal;
    line-height: .9em;
}

.draggable {
    position: absolute;
    z-index: 9;
    cursor: move;
  }
  
  .draggable img {
    height: 352px;
    width: auto;
  }

  .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100vw;
  }

  #psychic-slice {
    top: 135px; left: 165px;
  }

  #goodbye {
    top: 618px; left: -111px;
  }
  
  #artist-book-contest{
    top: 40px;
    left: 51px;
  }

  #flowers {
    style="top: 473px; left: 1112px;"
  }

  #mass-ornamentation{
    top: -3px; left: 895px;
  }

  #business-card{
    top: 579px; left: 799px;
  }

  #groundhog {
    top: 376px; left: 394px;
  }

  #chair {
    top: 32px; left: 1338px;
  }

  #flowers {
    top: 425px; left: 1105px;
  }