* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: Tiempos-Text-Regular;
    src: url(test-tiempos-text-regular.woff2) format(woff2);
    font-style: normal;
}

@font-face {
    font-family: Tiempos-Text-Regular;
    src: url(test-tiempos-text-regular-italic.woff2) format(woff2);
    font-style: italic;
}

.box {
    position: absolute;
    width: 187px; /* Set the width of the boxes */
    height: 140px; /* Set the height of the boxes */
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    display: block;
}

a {
    font-family: Tiempos-Text-Regular;
    font-weight: normal;
    text-decoration: none; 
    color: black;
    font-size: 1rem;
    line-height: .9rem;
}

.box-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.box .quote {
    display: none;
    font-family: Tiempos-Text-Regular;
    text-decoration: none; 
    color: black;
    font-size: .8rem;
    line-height: 1.1rem;
    height: auto;
    max-height: 115px;
    overflow: auto;
    text-overflow: ellipsis;
}

.quote::-webkit-scrollbar {
    width: 4px; /* Set the width of the scrollbar */
}

.quote::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0); /* Color of the thumb (handle) */
    border-radius: 0px; /* Radius of the thumb corners */
}

.quote::-webkit-scrollbar-track-piece {
    background-color: rgb(204, 204, 204); /* Color of the remaining track */
}

.quote-italic {
    font-style: italic;
}

.box-image:hover img{
    display: none;
}

.box:hover .quote{
    display: block;
}

.box-image:hover {
    display: block;
}

.box-text:hover p{
    display: none;
}
